{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
      <table>
          <tr>
              <th>Изображение</th><th>Название</th><th>Цена</th>
          </tr>
          {% for product in products %}
              <tr>
                  <td><img src="{{ product.image.url }}" alt="{{ product.name }}"></td><td>{{ product.name }}</td><td>{{ product.price }} руб.</td>
              </tr>
          {% endfor %}
      </table>
      <a class="btn btn-primary btn-lg" href="{% url 'mainapp:create' %}" role="button">Добавить товар</a>
{% endblock %}
